JobsOffer.Api.Infrastructure/bin
JobsOffer.Api.Infrastructure/obj
JobsOffer.Api.Server/bin
JobsOffer.Api.Server/obj
JobsOffer.Api.Server/Log
JobsOffer.Api.Server/TempUploadExcel
JobsOffer.Api.Server/secrets.json
JobsOffer.Api.Server/web.config
JobsOffer.Api.Domain/bin
JobsOffer.Api.Domain/obj
JobsOffer.Api.UnitOfWork/bin
JobsOffer.Api.UnitOfWork/obj
JobsOffer.Api.Business/bin
JobsOffer.Api.Business/obj
JobsOffer.Api.Test/bin
JobsOffer.Api.Test/obj
.vscode
.vs
.sonarqube
JobsOffer.Api.Infrastructure/.sonarqube
JobsOffer.Api.Server/.sonarqube
JobsOffer.Api.Domain/.sonarqube
JobsOffer.Api.UnitOfWork/.sonarqube
JobsOffer.Api.Business/.sonarqube
JobsOffer.Api.Test/.sonarqube
JobsOffer.Api.Server.UserMicroService/bin
JobsOffer.Api.Server.UserMicroService/obj
JobsOffer.Api.Server.UserMicroService/Log
JobsOffer.Api.Server.UserMicroService/TempUploadExcel
JobsOffer.Api.Server.UserMicroService/secrets.json
JobsOffer.Api.Server.UserMicroService/web.config
JobsOffer.Api.Server.DomainJobMicroService/bin
JobsOffer.Api.Server.DomainJobMicroService/obj
JobsOffer.Api.Server.DomainJobMicroService/Log
JobsOffer.Api.Server.DomainJobMicroService/TempUploadExcel
JobsOffer.Api.Server.DomainJobMicroService/secrets.json
JobsOffer.Api.Server.DomainJobMicroService/web.config
JobsOffer.Api.Server.FavoriMicroService/bin
JobsOffer.Api.Server.FavoriMicroService/obj
JobsOffer.Api.Server.FavoriMicroService/Log
JobsOffer.Api.Server.FavoriMicroService/TempUploadExcel
JobsOffer.Api.Server.FavoriMicroService/secrets.json
JobsOffer.Api.Server.FavoriMicroService/web.config
JobsOffer.Api.Server.JobMicroService/bin
JobsOffer.Api.Server.JobMicroService/obj
JobsOffer.Api.Server.JobMicroService/Log
JobsOffer.Api.Server.JobMicroService/TempUploadExcel
JobsOffer.Api.Server.JobMicroService/secrets.json
JobsOffer.Api.Server.JobMicroService/web.config
JobsOffer.Api.Server.ProfilMicroService/bin
JobsOffer.Api.Server.ProfilMicroService/obj
JobsOffer.Api.Server.ProfilMicroService/Log
JobsOffer.Api.Server.ProfilMicroService/TempUploadExcel
JobsOffer.Api.Server.ProfilMicroService/secrets.json
JobsOffer.Api.Server.ProfilMicroService/web.config
JobsOffer.Api.Server.ProfilDomainJobMicroService/bin
JobsOffer.Api.Server.ProfilDomainJobMicroService/obj
JobsOffer.Api.Server.ProfilDomainJobMicroService/Log
JobsOffer.Api.Server.ProfilDomainJobMicroService/TempUploadExcel
JobsOffer.Api.Server.ProfilDomainJobMicroService/secrets.json
JobsOffer.Api.Server.ProfilDomainJobMicroService/web.config
JobsOffer.Api.Server.WebSiteMicroService/bin
JobsOffer.Api.Server.WebSiteMicroService/obj
JobsOffer.Api.Server.WebSiteMicroService/Log
JobsOffer.Api.Server.WebSiteMicroService/TempUploadExcel
JobsOffer.Api.Server.WebSiteMicroService/secrets.json
JobsOffer.Api.Server.WebSiteMicroService/web.config
JobsOffer.Api.Server.ApiGateway/bin
JobsOffer.Api.Server.ApiGateway/obj
JobsOffer.Api.Server.ApiGateway/Log
JobsOffer.Api.Server.ApiGateway/TempUploadExcel
JobsOffer.Api.Server.ApiGateway/secrets.json
JobsOffer.Api.Server.ApiGateway/web.config