JobsOffer.Api.Infrastructure/bin
JobsOffer.Api.Infrastructure/obj
JobsOffer.Api.Server/bin
JobsOffer.Api.Server/obj
JobsOffer.Api.Server/Log
JobsOffer.Api.Server/TempUploadExcel
JobsOffer.Api.Server/secrets.json
JobsOffer.Api.Server/web.config
JobsOffer.Api.Domain/bin
JobsOffer.Api.Domain/obj
JobsOffer.Api.UnitOfWork/bin
JobsOffer.Api.UnitOfWork/obj
JobsOffer.Api.Business/bin
JobsOffer.Api.Business/obj
JobsOffer.Api.Test/bin
JobsOffer.Api.Test/obj
.vscode
.vs